* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
}

/* navbar */
header {
  background-color: cadetblue;
  height: 60px;
  color: #ffff;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 40px;
}

/* Cards */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
  margin: 0 40px;
}
.card {
  position: relative;
  width: 300px;
  height: 300px;
  transition: transform 500ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.card img {
  border-radius: 10px;
  opacity: 0.7;
  object-fit: cover;
  width: 300px;
  height: 300px;
  transition: 500ms;
}
.card span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff;
}
.card:hover {
  transform: scale(1.1);
}
.card:hover img{
    opacity: 1;
}
